<div class="container">
  <div class="container__item">
    <div class='header'>
      <div class="logo">
        <%= image_tag 'pig.png', width: 70 %>
        <h1>
          Pig<span style='color: #2e2e2e'>ly</span>
        </h1>
      </div>

      <h3>Paste a loooooooooong url</h3>
    </div>

    <%= form_for @url, html: { class: 'form' } do |f| %>
      <div class="form__field-wrapper">        
        <%= f.text_field :original_url, placeholder: 'http:// or https://',
          class: 'form__field', autofocus: true %>
        <%= f.submit 'Eat', class: 'btn btn--primary btn--inside uppercase' %>
      </div>
    <% end %>

    <ul>
      <% @url.errors.messages.each do |attr, msgs| %>
        <% msgs.each do |msg| %>
          <li style='color: #DD2C00;'>
            <%= msg %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

